{% extends 'start_page.html' %}

{% block content %}

    <h2>e-Deklaracje</h2>
    <br>

    <h4>
        e-Deklaracje to wprowadzony z dniem 1 stycznia 2008 roku przez Ministerstwo Finansów
        system umożliwiający podmiotom gospodarczym przesyłanie drogą elektroniczną deklaracji podatkowych.
    </h4>

    <br>
    <div>
        <h4>
            Poniżej znajdują się linki do dwóch interaktywnych formularzy przygotowanych przez system e-Deklaracje:
            <br>
            * Zeznanie o wysokości osiągniętego dochodu (poniesionej straty) w roku podatkowym -
            <a href="http://www.finanse.mf.gov.pl/documents/766655/1481810/PIT-36L(8)_v1-0E_2013.pdf">PIT-36L</a>
            <br>
            * Deklaracja dla podatku od towarów i usług -
            <a href="http://www.finanse.mf.gov.pl/documents/766655/1481810/VAT-7(14)_v1-0E_2013.pdf">VAT-7</a>
        </h4>
    </div>

    <div>
        <h4>Pozostałe dostępne formularze znajdziesz pod tym
            <a href="http://www.finanse.mf.gov.pl/systemy-informatyczne/e-deklaracje/formularze" target="_blank">linkiem</a>
            .
        </h4>
    </div>

    <br>
    <div>
        <h5>Aby wysłać powyższe deklaracje podatkowe drogą elektroniczną musisz kolejno:
            <br>
            * ściągnij odpowiedni formularz (jeden z dwóch wyżej wymienionych lub dowolny z podanego linku,
            <br>
            * wypełnij formularz,
            <br>
            * podpisz go wpisując kwotę przychodu wykazaną w zeznaniu lub rocznym obliczeniu podatku za rok podatkowy
            o dwa lata wcześniejszym niż rok, w którym składane są deklaracje,
            <br>
            * wyślij dokument,
            <br>
            * pobierz i zachowaj Urzędowe Poświadczenie Odbioru (UPO ). Jest ono dowodem traktowanym na równi z dowodem
            nadania listu poleconego, czy potwierdzeniem złożenia deklaracji w urzędzie skarbowym.
            <br>
            Szczegółową instrukcję korzystania z interaktywnych formularzy przygotowanych przez system e-Deklaracje znajdziesz
            <a href="http://www.finanse.mf.gov.pl/documents/766655/1209811/Instrukcja_dla_formularzy_PDF.pdf" target="_blank">tutaj</a>
            .
        </h5>
    </div>

    <br>
    <div>
        <h5 style="text-align: right;">
            Pod tym
            <a href="http://www.finanse.mf.gov.pl/systemy-informatyczne/e-deklaracje" target="_blank">linkiem</a>
            znajdziesz główną stronę systemu e-Deklaracje.
        </h5>
    </div>


{% endblock %}