{% extends 'start_page.html' %}

{% block content %}

<h2>DODAJ POZYCJE DO FAKTURY</h2>

<fieldset>

    <form method="post" action=".">
        {% csrf_token %}

        <table class="table table-bordered table-stripped">
            <thead>
                <th>Numer Faktury:</th>
                <th>Nazwa pozycji:</th>
                <th>PKWiU:</th>
                <th>Jednostka miary:</th>
                <th>Ilość:</th>
                <th>Cena (zł):</th>
                <th>Podatek VAT (%):</th>
            </thead>
            <tbody>
            {% for p in pozycje %}
                <tr>
                    <td>
                        <div class="fieldWrapper">
                            <h4>{{ faktura }}</h4>
                        </div>
                    </td>
                    <td>
                        {{ p.nazwa }}
                    </td>
                    <td>
                        {{ p.PKWiU }}
                    </td>
                    <td>
                        {{ p.jednostkaMiary }}
                    </td>
                    <td>
                        {{ p.ilosc }}
                    </td>
                    <td>
                        {{ p.cena }}
                    </td>
                    <td>
                        {{ p.VAT }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>
                        <div class="fieldWrapper">
                            <h4>{{ faktura }}</h4>
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.nazwa }}
                            {{ form.nazwa.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.PKWiU }}
                            {{ form.PKWiU.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.jednostkaMiary }}
                            {{ form.jednostkaMiary.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.ilosc }}
                            {{ form.ilosc.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.cena }}
                            {{ form.cena.errors }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.VAT }}
                            {{ form.VAT.errors }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'StartPage' %}" class="btn btn-danger">Zaksięguj</a>
        <input class="btn btn-danger" type="submit" value="Dodaj kolejną pozycję"/>
        <input class="btn btn-danger" type="reset" value="Przywróć wartości domyślne"/>

    </form>
</fieldset>

{% endblock %}