{% extends 'start_page.html' %}

{% block content %}

<h2>DODAJ POZYCJE DO FAKTURY<h2>

<fieldset>

    <form method="post" action=".">
        {% csrf_token %}

        <table class="table table-bordered table-stripped">
            <thead>
                <th>Numer Faktury:</th>
                <th>Nazwa pozycji:</th>
                <th>PKWiU:</th>
                <th>Jednostka miary:</th>
                <th>Ilość:</th>
                <th>Cena (zł):</th>
                <th>Podatek VAT (%):</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="fieldWrapper">
                            {{ faktura }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.nazwa.errors }}
                            {{ form.nazwa }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.PKWiU.errors }}
                            {{ form.PKWiU }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.jednostkaMiary.errors }}
                            {{ form.jednostkaMiary }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.ilosc.errors }}
                            {{ form.ilosc }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.cena.errors }}
                            {{ form.cena }}
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ form.VAT.errors }}
                            {{ form.VAT }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <input class="btn btn-danger" type="submit" value="Dodaj"/>
        <input class="btn btn-danger" type="reset" value="Przywróć wartości domyślne"/>
    </form>
</fieldset>

{% endblock %}