{% extends "base.html" %}

{% block main %}
    <div class="conteiner">
        <div class="row">
            <div class="span3 bs-docs-sidebar">
                    <div class="tabbable tabs-left">
                        <ul id="main_menu" class="nav nav-tabs bs-docs-sidenav affix">
                            <li>
                                <a id="StartPage" href="/" data-toggle="tab">Strona startowa</a>
                            </li>
                            <li>
                                <a id="Bilans" href="/bilans/" data-toggle="tab">Bilans otwarcia</a>
                            </li>
                            <li>
                                <a id="KsiegowanieFakturSprzedazy" href="/ksiegowanie_sprzedazy/" data-toggle="tab">Księgowanie faktur sprzedazy</a>
                            </li>
                            <li>
                                <a id="KsiegowanieFakturZakupu" href="/ksiegowanie_zakupu/" data-toggle="tab">Księgowanie faktur zakupu</a>
                            </li>
                            <li>
                                <a id="KsiegaPR" href="/ksiegaPR/" data-toggle="tab">Księga przychodów i rozchodów</a>
                            </li>
                            <li>
                                <div class="btn btn-danger">
                                    <a href="" data-toggle="tab">Wyloguj</a>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="span9" id="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock main %}