{% extends "registration/base.html" %}
{% block content %}
                <ul class="nav nav-tabs">
                    <li><a href="{% url 'login' %}" data-toggle="tab">Login</a></li>
                    <li class="active"><a href="{% url 'register' %}" data-toggle="tab">Create Account</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="create">
                        </form>

                        <legend> Wpisz dane do rejestracji</legend>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Rejestracja"> <input type="reset" value="Wartości początkowe">
                        </form>
                    </div>
                </div>
            </div>
{% endblock content %}